<div class="container" id="about">
  <h2 class="heading heading-sec heading-sec__mb-med">
    <span class="heading-sec__main">About Me</span>
    <span class="heading-sec__sub">
      Here you will find more information about me, what I do, and my current
      skills mostly in terms of programming and technology.
    </span>
  </h2>
  <div class="about__content">
    <div class="about__content-main">
      <h3 class="about__content-title">Get to know me!</h3>
      <div class="about__content-details">
        <p class="about__content-details-para">
          I am a passionate and dedicated
          <strong> Full-Stack Web Developer </strong> with a proven track record
          of creating robust and scalable web applications. My expertise spans
          front-end technologies and product development, including HTML/CSS,
          JavaScript, SQL, and Angular. With a keen eye for design and a
          commitment to clean, efficient code, I strive to deliver exceptional
          user experiences. I excel in problem-solving and collaborating with
          cross-functional teams to deliver innovative solutions, specializing
          in <strong> low-code/no-code </strong> platform development. I have
          contributed to projects that achieved faster delivery times, reducing
          development cycles by 30%. I'm excited to leverage my skills to tackle
          new challenges and drive innovation in the world of Full-Stack
          development.
        </p>
        <p class="about__content-details-para">
          I'm open to <strong>Job</strong> opportunities where I can contribute,
          learn and grow. If you have a good opportunity that matches my skills
          and experience then don't hesitate to <strong>contact</strong> me.
        </p>
      </div>
      <div class="btn">
        <a href="#contact"> <button mat-raised-button>Contact</button></a>
      </div>
    </div>
    <div class="about__content-skills">
      <h3 class="about__content-title">My Skills</h3>
      <div class="skills">
        <div class="skills_icon">
          <img
            class="img-responsive"
            src="../../../assets/skils/html.png"
            id="html"
          />
        </div>
        <div class="skills_icon">
          <img
            class="img-responsive"
            src="../../../assets/skils/css.png"
            id="css"
          />
        </div>
        <div class="skills_icon">
          <img
            class="img-responsive"
            src="../../../assets/skils/js.png"
            id="js"
          />
        </div>
        <div class="skills_icon">
          <img
            class="img-responsive"
            src="../../../assets/skils/CPP.png"
            id="cpp"
          />
        </div>
        <div class="skills_icon">
          <img
            class="img-responsive"
            src="../../../assets/skils/java.png"
            id="java"
          />
        </div>
        <div class="skills_icon">
          <img
            class="img-responsive"
            src="../../../assets/skils/bootstrap.png"
            id="bootstrap"
          />
        </div>

        <div class="skills_icon">
          <img
            class="img-responsive"
            src="../../../assets/skils/angular.png"
            id="angular"
          />
        </div>
        <div class="skills_icon">
          <img
            class="img-responsive"
            src="../../../assets/skils/github.png"
            id="github"
          />
        </div>
        <div class="skills_icon">
          <img
            class="img-responsive"
            src="../../../assets/skils/TypeScript.png"
            id="TypeScript"
          />
        </div>
        <div class="skills_icon">
          <img
            class="img-responsive"
            src="../../../assets/skils/sql.png"
            id="SQL"
          />
        </div>
        <div class="skills_icon">
          <img
            class="img-responsive"
            src="../../../assets/skils/Postgresql.png"
            id="postgres"
          />
        </div>
        <div class="skills_icon">
          <img
            class="img-responsive"
            src="../../../assets/skils/selenium.png"
            id="selenium"
          />
        </div>
      </div>

      <h3 class="about__content-title">My Coding Profile</h3>
      <div class="skills">
        <div class="skills_icon">
         <a href="https://www.hackerrank.com/profile/aadityaagrawal11"> <img style="width: 100px;
              height: 70px;"
            class="img-responsive"
            src="../../../assets/coding-profile/HackerRank.png"
            id="HackerRank"
          /></a>
        </div>

        <div class="skills_icon">
          <a href="https://leetcode.com/u/aadityaagrawal11/">  <img style="width: 100px;
              height: 70px;"
            class="img-responsive"
            src="../../../assets/coding-profile/Leetcode.png"
            id="Leetcode"
          /></a>
        </div>

        <div class="skills_icon">
          <a href="https://www.geeksforgeeks.org/user/aadityaagrawal11/"> <img style="width: 100px;
              height: 70px;"
            class="img-responsive"
            src="../../../assets/coding-profile/GFG.png"
            id="GFG"
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>
