.example-container {
  margin: 0 auto;
  overflow: hidden; // Fixing potential layout issues
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-gray);
}

.circularDrawer {
  position: fixed;
  width: 70%; // Adjust width for smaller screens
  max-width: 300px; // Limit max width for mobile
  height: 100vh;
  // clip-path: circle(400px at right 40px);
  transition: clip-path 0.3s ease-in-out;

  .drawerInfo {
    display: flex;
    background-color: #d2b0b0;
    height: 100%;
    align-items: center;
    justify-content: center;

    ul {
      display: flex;
      list-style: none;
      flex-direction: column;
      padding: 0;
      margin: 0;

      li {
        margin: 1em;

        a {
          font-size: 18px;
          text-decoration: none;
          padding: 10px 15px;
          border-radius: 10px;
          color: var(--white);
          transition: all 0.3s ease;
          position: relative;
          z-index: 1;
        }

        a:hover {
          background: var(--dark-gray);
          color: var(--white);
        }
      }
    }
  }
}

.drawerInfo ul li a.active {
  // background: linear-gradient(to right, #356980, #0fa3d4, #a8cad8);
  background-color: var(--dark-gray);
  color: var(--white);
  transition: all 0.3s ease-out;
  width: 100%;
  height: 60px;
  border-radius: 10px 10px 0 0;
}

// Responsive Fixes
@media (max-width: 600px) {
  .circularDrawer {
    width: 80%;
    max-width: 280px;
    // clip-path: circle(100%);
    right: 0;
    height: 100vh;
    transition: all 0.3s ease;

    .drawerInfo {
      ul {
        margin-top: 0;
        margin-left: 0;
        align-items: center;
        text-align: center;
      }
    }
  }
}

@media (max-width: 400px) {
  .circularDrawer {
    width: 90%;
    max-width: 250px;
  }

  .drawerInfo ul {
    padding: 10px;
  }

  .drawerInfo ul li a {
    font-size: 16px;
    padding: 8px 12px;
  }
}
