<div class="container">
  <mat-drawer-container class="example-container" hasBackdrop="true">
    <mat-drawer
  class="circularDrawer"
  [opened]="isDrawerOpen"
  mode="over"
  position="end"
  (closedStart)="closeDrawer()"
>
  <div class="drawerInfo">
    <ul>
      <li><a href="#home" [class.active]="activeTab === 'home'" (click)="closeDrawer(); setActiveTab('home');">HOME</a></li>
      <li><a href="#about"  [class.active]="activeTab === 'about'"(click)="closeDrawer(); setActiveTab('about');">ABOUT</a></li>
      <li><a href="#projects" [class.active]="activeTab === 'projects'" (click)="closeDrawer(); setActiveTab('projects'); ">PROJECTS</a></li>
      <li><a href="#contact" [class.active]="activeTab === 'contact'" (click)="closeDrawer(); setActiveTab('contact');">CONTACT</a></li>
    </ul>
  </div>
</mat-drawer>

    <mat-drawer-content>
      <app-home Responsive></app-home>
      <app-about Responsive></app-about>
      <app-projects Responsive></app-projects>
      <app-contact Responsive></app-contact>
      <app-footer Responsive></app-footer>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
