:host {
  .container {
    display: block;
    width: 100%;
    z-index: 1000;
    position: relative;

    mat-toolbar {
      display: flex;
      max-width: 1500px;
      height: 4.2rem;
      position: fixed;
      // background: --var(white);
      background-color: #606060;
      box-shadow: 0 10px 100px rgba(60, 77, 0, 0.1);

      .header-logo {
        display: grid;
        grid-template-columns: auto 1fr;
        // grid-template-rows: 1fr;
        column-gap: 10px;
        place-items: center;
        margin-left: 2rem;

        .logo {
          position: relative;
          top: 5px;
          width: 3.75rem;
          right: 1rem;
          height: 3.75rem;
          border-radius: 50%;
          box-shadow: #d2c96b 1px -1px 5px 5px;
        }

        p {
          font-size: 1.4rem;
          font-weight: 500;
        }

        .nav-title {
          margin: -20px;
          color: yellow;
          // color: var(--black);
        }
      }

      .navItems {
        display: flex;
        width: fit-content;
        justify-content: center;
        align-items: center;

        ul {
          display: flex;
          list-style: none;
          flex-direction: row;
         
          li {
            margin: 1em;
           
            a {
              color: var(--black);
              font-size: 20px;
              letter-spacing: 0px;
              font-weight: 450;
              text-decoration: none;
              transition: all 0.3s ease-out;
              padding: 0.1em 0.1em 0.1em 0.2em;
              color: white;
              position: relative;
              z-index: 1;

             
            }

            // a::before {
            //   content: "";
            //   position: absolute;
            //   bottom: 0;
            //   left: 0;
            //   width: 100%;
            //   height: 60px;
            //   border-radius: 10px 10px 0 0;
            //   background: #853333;
            //   transform-origin: end;
            //   // background: linear-gradient(to right, #11232b, #0796c5, #a8cad8);
            //   transform: scaleY(0.03);
            //   z-index: -1;
            //   transition: all 0.3s ease-out;
            // }

            // a:hover::before {
            //   transform: scaleY(0.7);
            // }

            a:hover {
              color: yellow;
              transition: all 0.3s ease-out;
                         
            }
          }
        }
      }
    }
  }

  :host.pc {
    .container {
      mat-toolbar {
        height: 5rem;
      }
    }
  }

  .navItems ul li a.active {
    color: yellow !important;
    transition: all 0.3s ease-out;
    
  }
}
