<div class="container">
  <mat-toolbar>
    <div class="header-logo">
      <a href="#home">
      <img class="logo" src="../../../assets/img/aditya.jpg" alt="header-icon"/></a>
      <!-- <p style="margin-left:3%; " class="nav-title" *ngIf="!isMobile"> &lt; Aditya Agrawal /&gt;</p> -->
      <p style="margin-left:3%; " class="nav-title" *ngIf="!isMobile"> {{displayText}}</p>
    </div>

    <span class="spacer"></span>
    <div class="navItems" *ngIf="!isMobile">
      <ul>
        <li><a href="#home" [class.active]="activeTab === 'home'" (click)="setActiveTab('home')">HOME</a></li>
        <li><a href="#about" [class.active]="activeTab === 'about'" (click)="setActiveTab('about')">ABOUT</a></li>
        <li><a href="#projects" [class.active]="activeTab === 'projects'" (click)="setActiveTab('projects')">PROJECTS</a></li>
        <li><a href="#contact" [class.active]="activeTab === 'contact'" (click)="setActiveTab('contact')">CONTACT</a></li>
      </ul>
    </div>
    
    <div class="sidenav-toggle" (click)="toggleDrawer()" *ngIf="isMobile" >
      <button mat-icon-button color="secondary" >
        <!-- <mat-icon>menu</mat-icon> -->
        <mat-icon>{{ isDrawerOpen ? 'close' : 'menu' }}</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
